body {
  padding: 25px;
}

.title {
  color: #5C6AC4;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to the top and bottom */
  background-color: transparent;
  padding: 10px;
  height: calc(100vh - 180px); /* Automatically adjust based on window height */
  border-radius: 10px;
  box-sizing: border-box;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 20px; /* Match icon height */
    color: black;
}

.scrolling-text span {
    position: absolute;
    display: inline-block;
    animation: scroll-horizontal 10s linear infinite;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


